<h1>Editing coffee type</h1>

<%= render "form", coffee_type: @coffee_type %>

<br>

<div>
  <%= link_to "Show this coffee type", @coffee_type %> |
  <%= link_to "Back to coffee types", coffee_types_path %>
</div>
