<p style="color: green"><%= notice %></p>

<h1 class="title is-4">Pastries Menu</h1>

<div id="pastries">
  <% @pastries.each do |pastry| %>
    <%= render pastry %>
  <% end %>
</div>

<%= link_to "New pastry", new_pastry_path %>
