<h3 class="subtitle is-4">Explore our drinks and pastries listings:</h3>
<p><%= link_to 'Shop Beverages', coffees_path, class: "button is-warning is-focused" %>
<p><%= link_to 'Shop Pastries', pastries_path, class: "button is-warning is-focused" %>
<p><%= link_to 'Shop All', menu_index_path, class: "button is-warning is-focused" %>

